@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

html,
body,
:root,
#root {
  height: 100%;
}

pre {
  background-color: #eee;
  margin: 20px 0;
  padding: 20px;
  border-radius: 12px;
  max-width: 1280px;
  overflow: auto;
}